.description_container {
    width: 70%;
    margin-top: -2vh;
    z-index: 50;
    display: flex;
flex-direction: column;
gap: 2rem;
}
.title_card {
    width: 100%;
     display: flex;
    justify-content: center;
    height: 12vh;
    align-items: center; 
    background: #FFF;
box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.10);
}

.title_card h1 {
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    line-height: 1;
    font-weight: bold;
}
.job_info{
    display: flex;
    justify-content: space-between;
    align-items: center;;
    /* flex-direction: column; */
    text-transform: capitalize;
}
.job_info_left{
    display: flex;
    flex-direction: column;

}


.job_info span{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    text-transform: capitalize;
    
}
.job_info img{
    width: 1.7rem;
}

.job_info p {
    color: #999999;
    font-size: small;
}

.job_info h1{
    font-size: 2.7rem;
}

.job_info h3{
    font-size: normal;
    font-weight: bold;
    color: #ED5353;
}

.job_info button {
    background-color:  #ED5353;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
.description_card {
    width: 100%;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1rem;
    box-shadow: 0px 2px 35px 1px rgba(0, 0, 0, 0.10);
}

.duration_stipend{
    display: flex;
    justify-content: start;
    gap: 2rem;

}
.duration_stipend span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  
}
.duration_stipend span p
{color: #999999;
display: flex;
align-items: center;}

.stipend, .duration {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5rem;
font-size: small;


}

.stipend p, .duration p {
    height: 20px;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tag{
    display: flex;
    gap: 1rem;
}