.card_container {
    height: 20vh;
    width: 70vw;
    box-shadow: 0px 0px 22px 4px rgba(255, 32, 32, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    position: relative;
    
    

}

.red{
    height: 100%;
    width: 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background: #FF0000;
}

.job_card {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.job_card_left {
    display: flex;
    gap: 1rem;
    align-items: space-between;
    height: 100%;
    
}

.job_card_left img {
    border-radius: 5px;
    object-fit: contain;
    background-position: center;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    aspect-ratio: 1;
}
.job_info {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.job_info p{
    color: #8b8b8b;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.3rem;
}

.job_misc {
    display: flex;
    gap: 2rem;
    font-size: small;

}
.job_misc p {
    color: #FF0000;
}

.job_card_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job_card_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag{
    background: #FFEEEE;
    padding: 0.5rem 1rem;
}
.button_container {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;

}


.button_container button {
    cursor: pointer;
}
.job_card_right button{
   background-color:  #ED5353;
color: white;
padding: .8rem 2rem;
border: none;
font-weight: bold;
border-radius: 5px;

}