.register {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: start;
}

.register_form_container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    width: 90%;
    padding-left: 5vw;
}

.register_form h1 {
    color: black;
    /* font-size: xx-large; */
}

.image_wall {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    background: url("../../assets/images/login_wall.png");
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register_form [type="password"]{
    width: 70%;
    height: 7vh;
}

.image_wall h1 {
    font-size: 2vw;
    line-height: 6rem;
    font-family:  sans-serif;
    font-weight: normal;
    color: white;

}

.register_form input[type="text"]  {
    width: 70%;
    height: 7vh;

}

.register_form button {
    align-self: left ;
    background: #ED5353;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 0.8rem 1rem;
    color: white;
}

.register_form span {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

